Host *
	ServerAliveInterval 120

Host tritonsws.com
	user ubuntu
	IdentityFile /Users/wweidendorf/.ssh/triton.id_rsa

Host mongodb1.aws.xspond.com
	user ubuntu
	IdentityFile /Users/wweidendorf/.ssh/aws.id_rsa

Host mongodb2.aws.xspond.com
	user ubuntu
	IdentityFile /Users/wweidendorf/.ssh/aws.id_rsa

Host mongodb3.aws.xspond.com
	user ubuntu
	IdentityFile /Users/wweidendorf/.ssh/aws.id_rsa

Host citadel1.aws.xspond.com
	user ubuntu
	IdentityFile /Users/wweidendorf/.ssh/aws.id_rsa

Host utilities.aws.xspond.com
	user ubuntu
	IdentityFile /Users/wweidendorf/.ssh/aws.id_rsa

Host *.compute-1.amazonaws.com
  user ubuntu
  IdentityFile /Users/wweidendorf/.ssh/aws.id_rsa
