Host *
	ServerAliveInterval 120

Host apps1
	user xspond
	ProxyCommand ssh xspond@64.9.205.227 exec nc %h %p

Host tritonsws.com
	user ubuntu
	IdentityFile /Users/wweidendorf/.ssh/triton.id_rsa

Host mongodb1.aws.xspond.com
	user ubuntu
	IdentityFile /Users/wweidendorf/.ssh/aws.id_rsa

Host mongodb2.aws.xspond.com
	user ubuntu
	IdentityFile /Users/wweidendorf/.ssh/aws.id_rsa

Host mongodb3.aws.xspond.com
	user ubuntu
	IdentityFile /Users/wweidendorf/.ssh/aws.id_rsa

Host client1.aws.xspond.com
	user ubuntu
	IdentityFile /Users/wweidendorf/.ssh/aws.id_rsa

Host citadel1.aws.xspond.com
	user ubuntu
	IdentityFile /Users/wweidendorf/.ssh/aws.id_rsa
